fastapi==0.124.4
fastapi-cli==0.0.16
fastapi-cloud-cli==0.6.0
google-genai==1.56.0
langchain==1.2.0
langchain-classic==1.0.1
langchain-community==0.4.1
langchain-core==1.2.5
langchain-google-genai==4.1.2
langchain-google-vertexai==3.2.0
# langchain-mongodb==0.9.0
langchain-ollama==1.0.1
langchain-qdrant==1.1.0
langchain-text-splitters==1.1.0
# langgraph==1.0.5
# langgraph-checkpoint==3.0.1
# langgraph-checkpoint-mongodb==0.3.0
numpy==2.4.0
ollama==0.6.1
openai==2.11
pydantic==2.12.5
# pymongo==4.15.5
pypdf==6.4.2
qdrant-client==1.16.2
redis==7.1.0
rq==2.6.1
python-multipart==0.0.22
PyJWT==2.8.0
passlib==1.7.4
psycopg2-binary==2.9.11
bcrypt==5.0.0